<div>
    <header>
        <h1>LUMBER</h1>
        <div class="credits">
            <div *ngIf="coins != null; else loginButton" class="right-side">
                <ul>
                    <li>{{ coins.gold }}</li>
                    <li>{{ coins.silver }}</li>
                </ul>
                <button class="transp">LOGOFF</button>
            </div>    
             <ng-template #loginButton>
                <button class="full">LOGIN</button>
                <button class="transp">SIGNUP</button>
            </ng-template>
        </div>
    </header>
    <router-outlet></router-outlet>
    <footer>
        <nav>
            <ul>
                <li *ngFor="let i of menuItems">
                    <a [routerLink]="i.link" routerLinkActive="active">
                        {{ i.label }}
                    </a>
                </li>
                <li>
                    <a href="#">
                        DOWNLOAD DO APP
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</div>