header {
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
	padding: 0 5vw;
}

header h1 {
	color: white;
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

header .right-side {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header .right-side button {
	margin-left: 30px;
}

header ul {
	list-style: none;
}

header li {
	position: relative;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 1em;
	padding-left: 42px;
	margin-left: 33px;
}

header li::before {
	content: '$';
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -25%;
	left: 0;
	width: 32px;
	height: 32px;
	border-width: 2px;
	border-radius: 50%;
	border-style: solid;
}

header li:nth-child(1) {
	color: #ff8f00;
}

header li:nth-child(2) {
	color: #f7f7f7;
}

header li:nth-child(1)::before {
	background: #ff8f00;
	border-color: #583405;
	color: #583405;
}

header li:nth-child(2)::before {
	background: #f7f7f7;
	border-color: #5c5c5c;
	color: #5c5c5c;
}

header button {
	border: none;
	padding: 10px 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: white;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
header button:hover {
	opacity: 0.5;
}

header button.full {
	background: #ff8f00;
}

header button.transp {
	background: transparent;
}
header button.transp:hover {
	text-decoration: underline;
}

footer, footer ul, footer nav, footer li {
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
}

footer ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

footer li, footer a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: rgba(255,255,255, 0.26);
	text-align: center;
}

footer a.active {
	color: #ff8f00;
	border-top: 2px solid #ff8f00;
}

footer a {
	display: block;
	padding: 2vh 0;
	text-decoration: none;
	border-top: 2px solid rgba(255,255,255, 0.1);
}
