<div>
    <header>
        <h1>LUMBER</h1>
        <div class="credits">
            <ul>
                <li>666</li>
                <li>666</li>
            </ul>
        </div>
    </header>
    <router-outlet></router-outlet>
    <footer>
        <nav>
            <ul>
                <li *ngFor="let i of menuItems">
                    <a [routerLink]="i.link" routerLinkActive="active">
                        {{ i.label }}
                    </a>
                </li>
                <li>
                    <a href="#">
                        DOWNLOAD DO APP
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</div>